<html>
    <body>
    {% if user %}
        You are logged in as {{ user }}
    {% endif %}
    <center>
    <h1> {{ title }} </h1>
    <br>
        <form method = "post">
            {% for key in keys %}
                <p>Enter {{ key }}:</p>
                <p><input type = "text" name = "{{ key }}" /></p>
            {% endfor %}
            <p><input type = "submit" value = "Submit" /></p>
        </form>
        </center>

    </body>
</html>
